/*Dashboard*/
.my_header {
    width: 100%;
    height: 70px !important;
    background: white;
    z-index: 1;
    .logo-container {
        width: 15%;
        img {
            object-fit: contain;
            max-height: 70px;
        }
    }
}

.ms-logout {
    color: white!important;
    border-color: black!important;
    background-color: black!important;
}

.btn {
    padding: 0.1rem 1rem!important;
    font-weight: 600!important;
}

.my_dashboard {
    width: 55%;
    background: white!important;
    .nav-item {
        width: calc(100% / 4);
        a {
            color: #979696;
            font-weight: 500;
        }
    }
    .dropdown {
        width: 15%;
        height: 40px;
        border: 2px solid gray;
        border-radius: 10px;
        i {
            color: gray;
        }
    }
}

.my_scroll::-webkit-scrollbar {
    background-color: #f0efef;
    width: 0.7rem;
}
.my_scroll::-webkit-scrollbar-thumb {
    background-color: #979696;
    border-radius: 100vw;
}
.my_scroll::-webkit-scrollbar-thumb:hover {
    background-color: #ff385c;
}
/* /Dashboard*/

/*index*/
.my_card {
    width: 17rem;
    height: 430px;
    border-radius: 10px;
    .index-btn {
        background-color: #ff385c;
    }
}
/*index*/

.edit_btn {
    background-color: white !important;
    color: green !important;
}
.edit_btn:hover,
.edit_btn:hover i {
    background-color: green !important;
    color: white !important;
}
.delete_btn {
    background-color: white !important;
    color: $logo !important;
}
.delete_btn:hover,
.delete_btn:hover i {
    background-color: #ff385c !important;
    color: white !important;
}
.sponsor_btn {
    background-color: white !important;
    color: goldenrod !important;
}
.sponsor_btn:hover,
.sponsor_btn:hover i {
    background-color: goldenrod !important;
    color: white !important;
}
.btn_hov {
    width: calc((100% / 3) - 15px);
    text-align: center;
}
.btn_hov:hover {
    p {
        display: block !important;
    }
}
.ms-position-index {
    position: absolute;
    top: 0;
    left: 0;
}
.arrow_container {
    position: relative;
    .avanti {
        position: absolute;
        right: 0;
        top: -300px;
    }
    .indietro {
        position: absolute;
        left: 0;
        top: -300px;
    }
}

.mycard {
    width: 17rem;
    height: 350px;
    transition-duration: 0.3s;
}

// .mycard:hover {
//     width: 18rem;
//     height: 365px;
//     border: 1px solid rgb(200, 198, 198);
// }

.card_body {
    width: 16rem;
    margin: 0 auto;

    .card-title {
        font-weight: 700;
        max-width: 240px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 1rem;
    }
}

.description {
    align-items: center;
}

.details {
    width: 100%;
    margin: 7.5px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .animated {
        animation-duration: 2.5s;
    }

    span {
        font-size: 11px;
        margin-left: 5px;

        i {
            color: #c4c6c5;
        }
    }
}

.btn-primary {
    background-color: #ff385c;
    border: 1px solid #ff385c;
}

.btn-primary:hover {
    background-color: #ff385c;
    border: 1px solid #ff385c;
}

.n-rooms {
    transition-duration: 1s;
}

.ms-position {
    position: absolute;
    top: 10px;
    left: 30px;
}

.my-top-img {
    overflow: hidden;
}

footer {
    height: 80px;
    .my-footer {
        width: 100%;
    }
}

.my_social i {
    color: #ff385c;
    padding-top: 1rem;
    margin: 0 0.5rem;
}