.active {
    cursor: pointer;
}

.active:hover {
    color: $logo;
}

img {
    width: 100%;
}

#app {
    height: 100%;
}

h5 {
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

.accomodation-card:hover {
    width: 500px;
    color: red;
}

.pippo {
    padding: 0 2rem;
    line-height: 60px;
    font-size: 1.4rem;
    color: white;
}

.pippo:hover {
    text-decoration: underline;
    // text-transform: uppercase;
    color: white;
}

.ms-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.ms-login {
    color: white;
    border-color: $button-dark;
    background-color: $button-dark;
}
.ms-register {
    color: black;
    border-color: white;
    background-color: white;
}

main {
    margin-top: 70px !important;
    a {
        color: $logo;

        &:hover {
            color: #8d3232;
        }
    }
}

.ms-mt-full {
    min-height: calc(100vh - 80px);
}

main ul {
    list-style: none;
}

.ms-text {
    color: white;
}

.ms-dash {
    margin-top: 60px;
}

input[type="checkbox"] {
    accent-color: #ff5a5eb3;
}
